
@import 'transitions.scss';
@import 'spacing-helpers.scss';
@import 'bulma/_all.sass';

html{
    font-family: 'Open Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    box-sizing: border-box;
}

table{
    border-collapse: collapse;
    border-spacing: 0;
}

.ellipsis{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
    &.flex-column {
        flex-direction: column;
    }
}

.absolute-center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.text-center {
    text-align: center;
}

.margin-center{
    margin: 0 auto;
}
