
* {
    box-sizing: border-box;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.overlay-background {
    background: rgba(0,0,0,0.55);
}

.fade-enter-active, .fade-leave-active {
    transition: 0.75s;
}
.fade-enter, .fade-leave-to {
    opacity: 0;
}

.fade-vertical-enter-active, .fade-vertical-leave-active {
    transition: 0.75s;
}
.fade-vertical-enter, .fade-vertical-leave-to {
    opacity: 0;
    transform: translateY(15px);
}


::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: rgba(0,0,0,0.75);
}

::-webkit-scrollbar
{
	width: 12px;
	background-color: rgba(0,0,0,0.75);
}

::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}